body, .App {
  text-align: center;
  background-color: rgb(40, 44, 52);
  font-family: 'Courier';
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-size: 12px;
}
h1 {
  margin: 20px 0 0px;
  font-family: 'Germania One', cursive;
  font-size: 5em;
  text-transform: uppercase;
  color:#fcbe31;
}
h2 {
  line-height: 1em;
  margin: 10px 0px 20px;
  font-family: 'Courier';
  font-size: 16px;
}
h3 {
  line-height: 1em;
  margin: 0 0 40px;
  font-family: 'Courier';
  font-size: 16px;
  text-decoration: underline;
}
.container {
  width: 90%;
  max-width: 920px;
  margin: 0 auto;
}
.messagelist-container {

}